
body{
    background-size: cover;
    background-color: rgb(214, 174, 132);
    display: flex;
    flex-direction:column;
}

h1, h3{
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive;
    letter-spacing: 1px;
}

#header{
    display: flex;
    justify-content: space-between;
    
}



#header img{
    width :100px;
    height:90px; 
           
}



#corps{
    display: flex ;
    flex-direction: row;
    justify-content: center;

}




#nabil , #enzo, #info, #form_enz , #form_nab{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    width: 250px;
    height: 315px;
    background-color: antiquewhite;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
}




#nabil img, #enzo img{
    margin-top: 25px ;
    margin-bottom: 35px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}


.image:hover{
    transform: scale(1.1);
}




